h1{
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

header{
  margin-top: 0px;
  background-image: url('../img/siege.png');
  background-size: cover;
  margin-bottom: 60px;
  height: 250px; ;
}

nav, footer{
  background-color: rgb(106, 6, 22);
}

footer{
    margin-top: 60px;
    padding-top: 40px;
}
#car{
  color:  rgb(106, 6, 22);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  font-weight: bold;
  color: rgb(107, 106, 106);}

.fo{
  margin-bottom: 0px;
}

/*
textarea.materialize-textarea:focus:not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]){
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

textarea.materialize-textarea:focus:not([readonly]) + label , input[type="text"]:focus:not(.browser-default):not([readonly]) + label{
  color: #ce93d8;
}

form{
  padding-top: 30px;
}

.btn{
  background-color: #ce93d8;
}

.btn:hover{
  background-color:#ba68c8;
}*/
