
h1{
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

header{
  margin-top: 0px;
  background-image: url('../img/siege.png');
  background-size: cover;
  margin-bottom: 60px;
  height: 250px; ;
}

nav, footer{
  background-color: rgb(106, 6, 22);
}

footer{
    margin-top: 60px;
    padding-top: 40px;
}
#car{
  color:  rgb(106, 6, 22);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  font-weight: bold;
  color: rgb(107, 106, 106);}

.fo{
  margin: 0px;

}


textarea.materialize-textarea:focus:not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]){
  border-bottom: 1px solid rgb(106, 6, 22);
  box-shadow: 0 1px 0 0 rgb(106, 6, 22);
}

textarea.materialize-textarea:focus:not([readonly]) + label , input[type="text"]:focus:not(.browser-default):not([readonly]) + label, .dropdown-content li>a, .dropdown-content li>span{
  color: rgb(106, 6, 22);
}

.chips .chip.selected, .btn{
  background-color: rgb(106, 6, 22);
}

.btn:hover{
  background-color: rgba(106, 6, 22, 0.9);
}

@media only screen and (max-width: 992px) {
  html{
    font-size: 20px;
  }

  h1{
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
  }

  header{
    height: 160px;
  }

  .pagination li a{
    padding: 0 8px;
  }

  nav .brand-logo{
    font-size: 1.3rem;
    left: 20%;
  }
}
