<footer class="container-fluid center-align">
        <div class="container white-text">
          <div class="row">
            <div class="col l12 s12">
              <p class="fo">Voir avec Lulu et Lily ce qu'il faut mettre ici</p>
              <p class="fo">© 2014 Copyright Text</p>
        </div>
      </div>
    </div>
</footer>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="http://localhost/girl/view/js/script.js"></script>
</body>
</html>
