<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste de Films</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="http://localhost/girlzPower/style.css">
</head>
<body>
    <header class='container-fluid'>
      <div class="page">
        <div class="container">
            <h1>WebCiné</h1>
        </div>
            <nav class='nav'>
                <div class="nav-wrapper">
                  <div class="container">


                  <a href="/girlzPower/index.php/accueil" class="brand-logo">Accueil</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                      <li><a href="/girlzPower/index.php/formulaire">Formulaire</a></li>
                      <li><a href="">A voir</a></li>
                      <li><a href="">A voir egalement</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
      </div>
    </header>
