<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste de Films</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost/GirlzPower/view/css/materialize.min.css">
    <link rel="stylesheet" href="http://localhost/GirlzPower/view/css/style.css">
</head>
<body>

    <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="http://localhost/GirlzPower/index.php/formulaire">Ajout Film</a></li>
  <li><a href="#!">Film ajouté</a></li>
  <li><a href="http://localhost/GirlzPower/index.php/monCompte">Paramètre Compte</a></li>
  <li><a href="#!">Déconnexion</a></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper container">
    <a href="/GirlzPower/index.php/accueil" class="brand-logo left"><img src="http://localhost/GirlzPower/view/img/logo.svg" alt="logo"></a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button hide-on-small-only" href="#!" data-activates="dropdown1">Mon compte<i class="material-icons right">arrow_drop_down</i><i class="material-icons right">person</i></a></li>
      <li><a class="dropdown-button hide-on-med-and-up" href="#!" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i><i class="material-icons right">person</i></a></li>
    </ul>
  </div>
</nav>
</div>
