<section class="container-fluid">
  <div class="container">
    <div class="row">
      <h2>Inscription</h2>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <form class="login" method="post" action="http://localhost/girlzPower/modele/form.php">
          <div class="row">
            <div class="input-field col s12 m12 l6 xl6">
              <input id="nom" type="text" name="nom">
              <label for="nom">Nom</label>
            </div>
            <div class="input-field col s12 m12 l6 xl6">
              <input id="prenom" type="text" name="prenom">
              <label for="prenom">Prénom</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l6 xl6">
              <input id="pseudo" type="text" data-length="10" name="pseudo">
              <label for="pseudo">Pseudo</label>
            </div>
            <div class="input-field col s12 m12 l6 xl6">
              <input id="age" type="text" data-length="3" name="age">
              <label for="age">Age</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l6 xl6">
              <input id="password" type="password" data-length="10" name="mdp">
              <label for="password">Mot de passe</label>
            </div>
            <div class="input-field col s12 m12 l6 xl6">
              <input id="password" type="password" data-length="10">
              <label for="password">Confirmer Mot de passe</label>
            </div>
          </div>
          <div class="row">
            <div class="center-align col s12 m12 l12 xl12">
              <a class="waves-effect waves-light btn" >button</a>
              <button type="submit" name="button">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
